.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* .firstdivinperson {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
} */

img {
  max-width: 250px;
  min-width: 250px;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  margin: 2rem;
}
