.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  transition: all 1s;
}

img {
  max-width: 250px;
  min-width: 250px;
}

img:hover {
  transform: scale(1.25);
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  margin: 3rem;
}
a:hover {
  color: aquamarine;
  transform: scale(1.25);
}

@media (max-width: 900px) {
  .App {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  a {
    color: goldenrod;
  }
}
@media (max-width: 500px) {
  .App {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  a {
    color: antiquewhite;
  }
}
